= link_to "New Prop Config", new_admin_prop_conf_path, :class => "btn btn-primary"
%table.table
  %thead
    %th Name
    %th Type
    %th Actions

  %tbody
    - @conf_props.each do |cp|
      %tr
        %td= link_to cp.name, edit_admin_conf_prop_path(cp)
        %td= cp.type
        %td
          = link_to "delete", admin_conf_prop_path(cp), :method => :delete, :confirm => "Sure to do that"


